*{
    margin: 0 auto;
    padding: 0;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: white;
    color: black;
    height: 100vh;

    transition: background 0.2s linear;
}
body.dark{
    background-color: #232c35;
    color: white;
}
header{
    background-color: green;
    color: white;
    width: 100%;
    height: 50px;
    position: fixed;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}
header h1{
    text-shadow: -4px 4px 4px black;
    width: 52%;
    height: 50px;
    float: left;
    text-align: center;
}
header ul{
    height: 50px;
}
header ul a li{
    height: 35px;
    width: 13%;
    padding-top: 15px;
    text-align: center;
    overflow: hidden;
    float: left;
}
header ul a li:hover{
    animation: hover 3s infinite;
    cursor: pointer;
}
@keyframes hover{
    0%{
        background-color: green;
    }
    50%{
        font-weight: 500;
        text-shadow: 0 3px 0 black;
        background-color: darkgreen;
    }
    100%{
        background-color: green;
    }
}
header ul a li{
    color: white;
    font-weight: 200;
    text-decoration: none;
}
.theme{   
    padding-top: 10px;
}
.checkbox{
    opacity: 0;
    position: absolute;
}
.label{
    background-color: black;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    height: 23px;
    width: 50px;
    transform: scale(1.5);
}
.label .ball{
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 23px;
    width: 23px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}
.checkbox:checked +.label .ball{
    transform: translateX(27px);
}
.fa-moon{
    color: #f1c40f;
}
.fa-sun{
    color: #f39c12;
}

section{
    height: 800px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
section div h2{
    width: 50%;
    text-align: right;
    float: left;
    padding: 30px;
    font-size: 28px;
}
section div figure img{
    height: 94px;
}
#bbas3{
    padding-top: 50px;
}
#bbas3 .topo{
    background-color: rgb(253, 253, 48);
    color: #465efc;
    width: 100%;
    height: 94px;
}
#bbas3 .corpo{
    background-color: rgba(253, 253, 48, 0.259);
    width: 100%;
    height: 756px;
}
#bbas3 .corpo figure{
    width: 40%;
    height: 670px;
    margin-top: 30px;
    margin-left: 7%;
    float: left;
}

#bbas3 .corpo figure img{
    width: 100%;
    height: 100%;
}

#bbas3 .corpo h3{
    font-size: 25px;
    width: 40%;
    height: 40px;
    margin-top: 30px;
    margin-right: 7%;
    text-align: center;
    float: right;
}
#bbas3 .corpo p{
    width: 40%;
    height: 450px;
    margin-top: 10px;
    margin-right: 7%;
    float: right;
    line-height: 30px;
}

#taee11{
    padding-top: 50px;
}
#taee11 .topo{
    background-color: rgb(238, 237, 237);
    width: 100%;
    height: 94px;
}
#taee11 .topo h2{
    color: #002869;
}
#taee11 .topo figure img{
    height: 64px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#taee11 .corpo{
    background-color: rgba(238, 237, 237, 0.259);
    width: 100%;
    height: 756px;
}

#taee11 .corpo figure{
    width: 40%;
    height: 670px;
    margin-top: 30px;
    margin-right: 7%;
    float: right;
}
#taee11 .corpo figure img{
    width: 100%;
    height: 100%;
}
#taee11 .corpo h3{
    font-size: 25px;
    width: 40%;
    height: 40px;
    margin-top: 30px;
    margin-left: 7%;
    text-align: center;
    float: left;
}
#taee11 .corpo p{
    width: 40%;
    height: 450px;
    margin-top: 10px;
    margin-left: 7%;
    float: left;
    line-height: 30px;
}

#klbn11{
    padding-top: 50px;
}
#klbn11 .topo{
    background-color: #00a15e;
    color: white;
    width: 100%;
    height: 94px;
}
#klbn11 .topo figure img{
    height: 82px;
    padding-top: 6px;
    padding-bottom: 6px;
}
#klbn11 .topo h2{
    margin-left: -5%;
}
#klbn11 .corpo{
    background-color: hsla(155, 100%, 32%, 0.259);
    width: 100%;
    height: 756px;
}
#klbn11 .corpo h3{
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
}
#klbn11 .corpo figure{
    width: 700px;
    height: 350px;
}
#klbn11 .corpo figure img{
    width: 100%;
    height: 100%;
    
}
#klbn11 .corpo h4{
    font-size: 25px;
    text-align: center;
    padding-top: 15px;
}
#klbn11 .corpo p{
    width: 710px;
    margin-top: 10px;
    line-height: 30px;


}
footer{
    margin-top: 50px;
    background-color: red;
    color: white;
    padding-top: 7px;
    padding-bottom: 8px;
}